/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-size-base: 18px
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", monospace !important;
}

h1 {
  font-size: 2rem; /* Adjust this value to your preference */
}

.theme-edit-this-page {
  display: flex;
  justify-content: left;
  align-items: center;
}

a[href^="http"] {
  font-style: italic;
  text-decoration: underline;
}

a[href^="/"]:not([class^="menu__link"]):not([class^="sidebarItemLink"]):not([class^="navbar__item"]):not([itemprop^="url"]):not([class^="navbar__title"]):not([class^="tag_node_modules"]) {
  font-style: italic;
  text-decoration: underline;
}

h2[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"] {
  font-size: 2em;
  font-weight: 600;
}

[data-theme="light"] h2[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-modul"]  {
  color: #2e8555;
}
[data-theme="dark"] h2[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-modul"] {
  color: #21af90;
}

h1[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"] {
  font-size: 2em;
  font-weight: 700;
}

[data-theme="light"] h1[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"]  {
  color: #2e8555;
}
[data-theme="dark"] h1[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"] {
  color: #21af90;
}

h2[class^="anchor"] {
  font-size: 1.75em;
  font-weight: 650;
}

[data-theme="light"] h2[class^="anchor"] {
  color: #2e8555;
}
[data-theme="dark"] h2[class^="anchor"] {
  color: #21af90;
}

h3[class^="anchor"] {
  font-size: 1.5em;
  font-weight: 600;
}

h4[class^="anchor"] {
  font-size: 1.25em;
  font-weight: 550;
}

ul {
  list-style-type: disc;
  padding-left: 2em;
}

ol {
  list-style-type: decimal;
  padding-left: 2em;
}