/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts if using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0088CC;
  --ifm-color-primary-dark: #0088CC;
  --ifm-color-primary-darker: #0088CC;
  --ifm-color-primary-darkest: #0088CC;
  --ifm-color-primary-light: #0088CC;
  --ifm-color-primary-lighter: #0088CC;
  --ifm-color-primary-lightest: #0088CC;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-size-base: 18px;
  --ifm-font-family-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --ifm-heading-font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #33BBFF;
  --ifm-color-primary-dark: #33BBFF;
  --ifm-color-primary-darker: #33BBFF;
  --ifm-color-primary-darkest: #33BBFF;
  --ifm-color-primary-light: #33BBFF;
  --ifm-color-primary-lighter: #33BBFF;
  --ifm-color-primary-lightest: #33BBFF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", monospace !important;
}

h1 {
  font-size: 2rem; /* Adjust this value to your preference */
}

.theme-edit-this-page {
  display: flex;
  justify-content: left;
  align-items: center;
}

a[href^="http"] {
  text-decoration: underline;
}

a[href^="/"]:not([class^="menu__link"]):not([class^="sidebarItemLink"]):not([class^="navbar__item"]):not([itemprop^="url"]):not([class^="navbar__title"]):not([class^="tag_"]):not([class^="navbar__brand"]):not([class^="footer__link-item"]):not([class^="pagination-nav"]):not([class^="table-of-contents__link toc-highlight"]):not([href^="/blog/"]) {
  text-decoration: underline;
}

h2[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"] {
  font-size: 2em;
  font-weight: 600;
}

[data-theme="light"] h2[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"]  {
  color: black;
  font-size: 1.5em;
}
[data-theme="dark"] h2[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"] {
  color: white;
  font-size: 1.5em;
}

h1[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"] {
  font-size: 2em;
  font-weight: 700;
}

[data-theme="light"] h1[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"]  {
  color: black;
}
[data-theme="dark"] h1[class^="title_node_modules-@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module"] {
  color: white;
}

h2[class^="anchor"], h2 {
  font-size: 1.75em;
  font-weight: 650;
}

[data-theme="light"] h2[class^="anchor"], [data-theme="light"] h2 {
  color: black;
}
[data-theme="dark"] h2[class^="anchor"], [data-theme="dark"] h2 {
  color: white;
}

h3[class^="anchor"], h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4[class^="anchor"], h4 {
  font-size: 1.25em;
  font-weight: 550;
}

h5[class^="anchor"], h5 {
  font-size: 1em;
  font-weight: 500;
}

ul {
  list-style-type: disc;
  padding-left: 2em;
}

ol {
  list-style-type: decimal;
  padding-left: 2em;
}

/* This will apply to all scrollable elements */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}

[data-theme="dark"] ::-webkit-scrollbar-track {
  background: rgba(27,27,29,1); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (max-width: 768px) {
  .mx-auto {
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 992px) {
  .footer__col:not(:has(.footer__socials)) .footer__title {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .footer__others {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .footer__col:has(.footer__socials) .footer__title {
    display: block !important;
  }
  .footer__col:not(:has(.footer__socials)) {
    display: none;
  }
}


.book-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  column-count: 3;
  column-gap: 12px;
  padding: 4px;
}

.book-items {
  position: relative;
  cursor: default;
  padding: 8px;
  margin: 0;
  display: grid;
  break-inside: avoid;
}

@media screen and (max-width: 900px) {
  .book-wrapper {
    column-count: 3;
  }
}

@media screen and (max-width: 600px) {
  .book-wrapper {
    column-count: 2;
  }
  
  .book-items {
    padding: 6px;
  }
  
  .book-cover .book-inside {
    left: 6px;
  }
  
  .effect {
    margin-left: 6px;
  }
  
  .book-image:hover .effect {
    margin-left: 4px;
  }
}

.main-book-wrap {
  position: relative;
}

.book-cover {
  position: relative;
}

.book-cover .book-inside {
  position: absolute;
  width: 90%;
  height: 96%;
  top: 1%;
  left: 16px;
  border: 1px solid grey;
  border-radius: 2px 6px 6px 2px;
  background: white;
  box-shadow: 10px 40px 40px -10px #00000030, inset -2px 0 0 grey,
    inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
    inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
    inset -9px 0 0 #dbdbdb;
}

.book-cover .book-image {
  line-height: 0;
  position: relative;
  border-radius: 2px 6px 6px 2px;
  box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2),
    24px 28px 40px -6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform: perspective(2000px) rotateY(-15deg) translateX(-10px) scaleX(0.94);
  cursor: pointer;
}

.book-image img {
  grid-row: 1 / -1;
  grid-column: 1;
  width: 100%;
  border-radius: 2px 6px 6px 2px;
}

.book-image:hover {
  transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
  transform-style: preserve-3d;
  box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
    20px 14px 16px -6px rgba(0, 0, 0, 0.1);
}

.effect {
  position: absolute;
  width: 20px;
  height: 100%;
  margin-left: 16px;
  top: 0;
  border-left: 2px solid #00000010;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: all 0.5s ease;
  z-index: 5;
}

.light {
  width: 90%;
  height: 100%;
  position: absolute;
  border-radius: 3px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  top: 0;
  right: 0;
  opacity: 0.1;
  transition: all 0.5s ease;
  z-index: 4;
}

.book-image:hover .effect {
  margin-left: 14px;
}

.realvjy {
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.recharts-bar-rectangle:hover {
  filter: none !important;
}

.footer {
  padding: 2rem 0;
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-footer-color);
}

:root {
  --ifm-navbar-background-color: #f0f0f0;
}

[data-theme='dark'] {
  --ifm-navbar-background-color: #2c2c2c;
}